<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bandit</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="head">
            <div id="menu" :disabled="killTheMenu">
                <span v-for="(c, cc) in menu">
                    <button class="hov">{{cc}}</button>
                    <div>
                        <span v-for="(e, ee) in c">
                            <button v-if="typeof e === 'object'" class="hov">{{ee}}</button>
                            <button v-else @click="setCMD(e)">{{ee}}</button>
                            <div v-if="typeof e === 'object'">
                                <button v-for="(d, dd) in e" @click="setCMD(d)">{{dd}}</button>
                            </div>
                        </span>
                    </div>
                </span>
            </div>
            <input id="cmd" v-model="cmd" @change="goAll()" name="cmd"></input>
            <span id="buttons">
                <input type="checkbox" v-model="autoExec" title="Autoexecute All when template changed" style="align-self: center">
                <button class="btn" id="go" @click="goAll()" title="Execute All">🔥👍</button>
                <button class="btn" id="go" @click="goPerLine()" title="Execute (per Line)">🔥📜</button>
                <button class="btn" id="go" @click="goSelected()" title="Execute Selected">🔥✂</button>
                <button class="btn" id="go" @click="undo()" title="Undo">↩📝</button>
                <button class="btn" id="go" @click="copy()" title="Copy">➡📎</button>
                <button class="btn" id="go" @click="popout()" title="Open to Separate Tab">🔎↗</button>
            </span>
        </div>
        <div id="body">
            <textarea v-model="text" id="text" name="text" @change="save()"></textarea>
        </div>
    </div>
    <script src="extras.js"></script>
    <script src="operations.js"></script>
    <script src="main.js"></script>
</body>
