<!DOCTYPE html>
<html>

<head>
    <title>Bandit</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="vue.min.js"></script>
</head>
<body>
    <div id="app">
        <div id="head" style="width:82ch">
            <div id="menu">
                <span v-for="(c, cc) in menu">
                    <button class="hov">{{cc}}</button>
                    <div>
                        <span v-for="(e, ee) in c">
                            <button v-if="typeof e === 'object'" class="hov">{{ee}}</button>
                            <button v-else @click="cmd = e">{{ee}}</button>
                            <div v-if="typeof e === 'object'">
                                <button v-for="(d, dd) in e" @click="cmd = d">{{dd}}</button>
                            </div>
                        </span>
                    </div>
                </span>
            </div>
            <input id="cmd" v-model="cmd" name="cmd"></input>
            <button class="btn" id="go" @click="go()" title="Load URL">
                <img src="images/load.png">
            </button>
        </div>
        <div id="body">
            <textarea v-model="text" id="text" name="text" rows=7 cols=82></textarea>
        </div>
    </div>
    <script src="operations.js"></script>
    <script src="main.js"></script>
</body>
