* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

pre {
    white-space: pre-wrap;
    font-size: 12px;
}

textarea {
    resize: none;
    display: flex;
    flex-grow: 1;
}

#body {
    display: flex;
}

#request {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

#request > div {
    display: flex;
    margin: 2px 0px;
}

#request a {
    margin: auto 3px;
    vertical-align: middle;
}

#res-head {
    color: dimgray;
}

#buttons {
    flex-direction: row;
    display: flex;
}

#response {
    height: 100vh;
    flex-grow: 2;
    flex-basis: 0;
    overflow-y: scroll;
    margin-left: 20px;
}

.hidden {
    display: none;
}

.wide {
    flex-grow: 1;
}

