<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bandit XHR</title>
    <link rel="stylesheet" href="send.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="body">
        <div id="request">
            <div id="buttons">
                <button @click="send()" id="xhr">SEND AS XHR</button>
                <button @click="popout()" id="open">SEND AS HTTP</button>
            </div>
            <textarea id="text" v-model="input"></textarea>
        </div>
        <div id="response">
            <button v-if="showcors" id="cors" @click="cors()">BYPASS CORS</button>
            <button v-if="showblobout" id="pop" @click="blobout()">POP RESULT IN NEWTAB</button>
            <pre id="res-head"></pre>
            <pre id="res-body"></pre>
        </div>
    </div>
    <script src="js/vue.min.js"></script>
    <script src="js/sender.js"></script>
</body>

</html>
