:root {
    --bg: #07c;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 15px;
    font: 11px Verdana, Arial;
    background: whitesmoke;
}

#body {
    margin-top: 4px;
}

#text {
    min-width: 400px;
    min-height: 150px;
}

button {
    margin: 0px;
}

#head {
    display: flex;
    flex-wrap: wrap;
}

#menu {
    flex-wrap: wrap;
    display: flex;
}

#menu > span {
    flex-grow: 1;
}

#menu > span > button {
    background-color: var(--bg);
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
}

#menu div {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#menu div div {
    left: 100%;
    top: 0;
}

#menu button {
    color: black;
    padding: 5px 10px;
    display: block;
    width: 100%;
    border: 0px;
}

#menu button:hover {
    background-color: #ddd
}

#menu:not([disabled]) .hov:hover + div, #menu:not([disabled]) div:hover {
    display: block;
}

#menu button:hover {
    background-color: var(--bg);
    color: wheat;
}

#cmd {
    flex-grow: 10;
    margin: 0px 0px 0px 4px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    min-width: 0px;
}

#buttons {
    display: flex;
    flex-grow: 1;
}

#buttons button {
    font-size: 16px;
    flex-grow: 1;
}
